---
---

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "{{ site.theme }}";

header h1 {
	white-space: nowrap;
}

.socials {
	width: 100%;
	margin-bottom: 1em;
}
.fa {
	font-size: 2em;
}
